<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>Add product</title>
    <div class="container">
        <h1>Product list</h1>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th/>
            </tr>
            </thead>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"/>
                <td th:text="${product.name}"/>
                <td th:text="${product.cost}"/>
                <td>
                    <a class="btn btn-primary" th:href="@{'/editproduct/' + ${product.id}}">Edit</a>
                </td>
            </tr>
        </table>

        <br>
        <h2>Add new product</h2>


        <form th:action = "@{/add}" method="post">

            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tr>
                    <td><input type="text" name="id" class="form-control" placeholder="New product ID"></td>
                    <td><input type="text" name="name" class="form-control" placeholder="New product name"></td>
                    <td><input type="text" name="cost" class="form-control" placeholder="New product cost"></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Add</button>

                    </td>
                </tr>
            </table>

        </form>



    </div>
</head>
<body>

</body>
</html>